$color-background-light: white;
$color-foreground-light: black;

$color-background-dark: red;
$color-foreground-dark: #efefef;


.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: $color-background-light;
  color: $color-foreground-light;
}

.home-container__header {
  background-color: #3365A6;
  display: flex;
  justify-content: flex-end;
  > .form-switch {
    padding: 1rem;
  }
}

.home-container__content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  
  .home-container__banner {
    max-width: 40%;
    min-width: 30%;
    min-height: 70%;
    max-height: 100%;
    background-color: #3365A6;
    margin-bottom: 5%;
    margin-right: 10%;
  }

  .home-container__form {
    max-width: 30%;
    margin-right: 10%;
    margin-bottom: 5%;
  }
}


body.dark .home-container {
  background-color: $color-background-dark;
  color: $color-foreground-dark;
}
