@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$color-background-light: white;
$color-foreground-light: black;

$color-background-dark: red;
$color-foreground-dark: #efefef;



body,
#root {
  background-color: $color-background-light;
  color: $color-foreground-light;

  width: 100vw;
  height: 100vh;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

body.dark,
body.dark #root {
  background-color: $color-background-dark;
  color: $color-foreground-dark;
}

@media (prefers-color-scheme: dark) {
  body,
  #root {
    background-color: $color-background-dark;
    color: $color-foreground-dark;
  }
}